html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,rem,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
margin:0;
padding:0;
vertical-align:baseline;
line-height: 1.5rem;
}

html, body {
  font-family: 'Lato', helvetica, arial, sans-serif;   
  color: #222;
  font-size: 125%;
}

img {
    width: 100%;
    height: auto;
}

#about {
  color: black;
}

#navigation {	
	width: 100%;
	padding-left: 5%;
	max-width: 900px;  
  	margin: 0px auto;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    color: #E8EAF6;
    text-align: center;
    padding: 10px 10px;
    margin: 15px;
    margin-right: 5px;
    text-decoration: none;
}

.active {	
    border-bottom: 2px solid white;
	color: white !important;
}

md-fab-speed-dial.md-fab-top-right {
	top: 0px;    
	right: 0px;
    position: fixed;
}

.bottomHeader {
  width: 220px; 
  height: 40px; 
  background: #607D8B;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 0.9rem;   
}

.bottomHeader p {
  font-weight: 600;
  padding: 0px 20px; 
  line-height: 40px; 
}

#cv {
  width: 90%;
  max-width: 900px;  
  margin: 90px auto;
  position: relative;
  z-index: 0;
}

.section-inner {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.middleHeader {
  width: 220px; 
  height: 40px;   
  transform: skew(-25deg);
  background: #455A64;      
  font-size: 0.9rem;   
}

.middleHeader p {
  font-weight: 600;
  padding: 0px 20px; 
  transform: skew(25deg);
  line-height: 40px; 
  color: white;
}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}